@import url('https://fonts.googleapis.com/css?family=Exo+2:100,200,300,400&display=swap');


body {
    background: rgb(26, 26, 26);
    font-family: 'Exo 2', sans-serif;
    color: rgb(237, 237, 237) !important;
    font-weight: 100 !important;
}

/* NAV */
#nav-bar .navbar-brand {
    color: rgb(255, 39, 230);
    font-size: 2rem;
    font-weight: 300;
}

#nav-bar {
    font-size: 1.5rem;
    background-color: rgba(26, 26, 26, 0.281);
}

.nav-item a {
    color: rgb(237, 237, 237) !important;
}

.nav-item a:hover {
    color: rgb(255, 60, 232) !important;
}

/*CONTAINER GRID*/
.container-fluid h2 {
    font-weight: 100;
    font-size: 2.2rem;
}

p {
    font-size: 1.3rem;
}

.col-md-6 {
    padding: 0;
    margin: 0;
}

.row {
    margin: 0;
    padding: 0;
}

#ig {
    color: #FFF;
}

#ig:hover {
    color: rgb(255, 39, 230);
    text-decoration: none;
}

/*TEXT STYLING*/
.purple {
    color: rgb(141, 88, 255);
}

.pink {
    color: rgb(255, 60, 232);
}

.blue {
    color: rgb(98, 174, 255);
}

.orange {
    color: rgb(254, 163, 66);
}

.fontweight1 {
    font-weight: 100 !important;
}

.fontweight2 {
    font-weight: 200 !important;
}

.fontweight3 {
    font-weight: 300 !important;
}

.textshadow-orange {
    text-shadow: 0px 0px 4px rgb(255, 225, 0);
}

.textshadow-pink {
    text-shadow: 0px 0px 4px rgb(255, 81, 255);
}

.textshadow-blue {
    text-shadow: 0px 0px 4px rgb(106, 245, 255);
}

.textshadow-purple {
    text-shadow: 0px 0px 4px rgb(226, 121, 255);
}


/* MEDIA */
@media (max-width:992px) {
    .container-fluid h2 {
        font-size: 1.7rem;
    }
}

@media (max-width: 768px){
    .container-fluid h2 {
        font-size: 2.4rem;
        margin-bottom: 1.1rem;
    }

    .text-container {
        padding: 3rem 3rem;
    }

    #nav-bar .navbar-brand {
        text-shadow: 0px 0px 10px rgb(255, 255, 255);
        font-weight: 400;
    }
}
